.add-task {
    display: flex;
    align-items: center;
    justify-content: center;

    .input-container {
        width: 50%;
        padding: 1rem;
        text-align: center;

        label {
            display: block;
            font-weight: bold;
            font-size: 1.25rem;
        }
    }
}