li {
    background-color: #413f42;
    padding: 0.5rem;
    margin: 1rem;
    text-align: left;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;


    input {
        margin: 0 1rem;
        height: 1.2rem;
        width: 1.2rem;
        cursor: pointer;
    }

    p {
        margin: 0;
        width: 100%;
    }

    button {
        margin: 0 1rem;
        background-color: #000000;
        border: none;
        padding: 0.5rem 0.75rem;
        border-radius: 50%;
    }
}