li {
    background-color: black;
    padding: 0.5rem;
    margin: 1rem;
    text-align: left;
    border: 0.1rem solid #ffffff;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        margin: 0 1rem;
        height: 1.2rem;
        width: 1.2rem;
        cursor: pointer;
    }
}