h1 {
    text-align: center;
}

.input-container {
    display: flex;
    text-align: center;
    background-color: #7f8487;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.6rem 0.6rem 0 0;
    padding: 1rem 0 0;

    input {
        width: 80%;
        height: 2.5rem;
        margin: 1rem 0.5rem 0 2rem;
        padding: 0 1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.3rem;
        background-color: #000000;
    }

    button {
        margin: 1rem 2rem 0 2rem;
        width: 20%;
        font-size: 1.2rem;
        background-color: #000000;
        border: none;
        border-radius: 0.5rem;
    }
}

.task-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 0 0 0.6rem 0.6rem;
    background-color: #7f8487;

    .tasks-list {
        list-style: none;
        padding: 1rem;
        margin: 0;
    }
}